body { 
    background-color: #fff;
}

header {
    background-color: #E7E9FC;
}
 a {
    text-decoration: none;
    color: #000;
 }
  
.site-nav a:hover {
    color: blue;
 }
 .contact-info a:hover {
    color: red;
 }